<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>ctg</short-name>
    <uri>customtags</uri>

    <!-- Invoke 'Generate' action to add tags or functions -->
    <tag>
        <name>hello</name>
        <tag-class>com.polovtseva.coffee.tag.HelloTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>role</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>pfooter</name>
        <tag-class>com.polovtseva.coffee.tag.FooterTag</tag-class>
        <body-content>empty</body-content>
    </tag>
    <tag>
        <name>ldt</name>
        <tag-class>com.polovtseva.coffee.tag.LocalDateTimeTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.time.LocalDateTime</type>
        </attribute>
    </tag>

</taglib>
