body {
    /*padding-top: 20px;*/
    padding-bottom: 40px;
    background-color: #ddc798;
    background-image: url("../picture/Test.png");
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: top right;
    font-family: 'Roboto', sans-serif !important;
}

.navbar-button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-custom-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    text-align: -webkit-match-parent;
    font-size: 14px;
    color: #9d9d9d;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
}
