button.custom-button {
    -moz-box-shadow:inset 0px 1px 3px 0px #a6827e;
    -webkit-box-shadow:inset 0px 1px 3px 0px #a6827e;
    box-shadow:inset 0px 1px 3px 0px #a6827e;
    background-color:#543821;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #54381e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #4d3534;
    margin-top: 10px;
}

button.custom-button:hover {
    background-color:#634b30;
}

button.custom-button:active {
    position:relative;
    top:1px;
}
