
input.custom-input:focus {
    border-color: rgba(193, 165, 164, 1.0) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(193, 165, 164, 0.9) !important;
    outline: 0 none !important;
}

input:focus {
    outline: none !important;
    border-color: #4d3534;
    box-shadow: 0 0 10px #4d3534;
}

